<mat-card>Ingrese los datos del producto</mat-card>

<form class="example-container" [formGroup]="form" #frmProducto="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idProducto">
        </mat-form-field>
    </div>

    <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Precio"formControlName="precio">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Unidad" [(value)]="unidadSeleccionada" formControlName="unidadMed">
            <mat-option *ngFor="let e of unidades" [value]="e">
                {{ e.nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field>    


    <button mat-raised-button color="primary" type="submit" [disabled]="frmProducto.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/producto' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>