<mat-card>Ingrese los datos del cliente</mat-card>

<form class="example-container" [formGroup]="form" #frmCliente="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="idCliente">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">            
        <input matInput placeholder="Nombres" minlength="3" required formControlName="nombres">       
        <small *ngIf="f.nombres.errors?.required && f.nombres.touched" class="invalido">Nombre es requerido</small>
        <small *ngIf="f.nombres.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</small>
    </mat-form-field>

    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Apellidos" required formControlName="apellidos">
        <small *ngIf="f.nombres.errors?.required" class="invalido">Apellido es requerido</small>    
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="NUMDOC" required formControlName="numdoc" type="string">
        <small *ngIf="f.numdoc.errors?.required && f.numdoc.touched" class="invalido">NUMDOC es requerido</small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Correo" required formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Teléfono" required formControlName="telefono" type="number">
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="frmCliente.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/cliente' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>