<mat-toolbar>Consulta de Orden de Compra</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="buscar()">

    <mat-form-field>
        <input matInput placeholder="NumOrden" formControlName="numOrden">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="NumDoc" formControlName="numdoc">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nombre Completo" formControlName="nombreCompleto">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge una fecha"
            formControlName="fechaOrden">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Buscar</button>

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="idOrden">
            <mat-header-cell *matHeaderCellDef> IdOrden </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.idOrden}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cliente">
            <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cliente.nombres | uppercase }} {{element.cliente.apellidos | uppercase}}</mat-cell>
        </ng-container>
   
        <ng-container matColumnDef="numOrden">
            <mat-header-cell *matHeaderCellDef> NumOrden </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numOrden}}</mat-cell>
        </ng-container>
    
-       <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy hh:mm:ss a'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.monto}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button type="button" mat-raised-button color="primary" (click)="verDetalle(element)">Ver Detalle</button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
</form>